 <ul id="section" class="navbar-nav ml-auto" style="flex-direction:row !important;">
            <li class="nav-item pl-1 ml-4">
              <a class="nav-link" href="/admin"
                ><i class="fa fa-home fa-fw mr-1"></i>Admin</a
              >
            </li>
       <li class="nav-item pl-1 ml-4">
              <a class="nav-link" href="/admin/categories"
                ><i class="fa fa-home fa-fw mr-1"></i>Categories</a
              >
            </li>
               <li class="nav-item pl-1 ml-4">
              <a class="nav-link" href="/admin/link"
                ><i class="fa fa-home fa-fw mr-1"></i>link</a
              >
            </li>
          </ul>